
body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 30px;
  border-radius: 8px;
}
input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
h1, h2, h3 {
  text-align: center;
}
